snippet bang
#!/usr/bin/python3
endsnippet

snippet main "main" i
def main() -> int:
	""" MAIN """
	$1

	return 0


if __name__ == '__main__':
	main()

endsnippet

snippet full
#!/usr/bin/python3


def main() -> int:
	""" MAIN """
	$1

	return 0


if __name__ == '__main__':
	main()

endsnippet
