snippet template 
TEMPLATE = app
TARGET = your_app_name # Name of the executable
CONFIG += console c++11
QT -= gui

QT += widgets

# Input
SOURCES += main.cpp

# If you have additional source files, list them here
# SOURCES += source1.cpp source2.cpp

# If you have header files, list them here
# HEADERS += header1.h header2.h

# If you have UI files created using Qt Designer, list them here
# FORMS += mainwindow.ui
endsnippet
