[Install]
WantedBy=plasma-workspace.target

[Unit]
Description=Plasma I3
Before=plasma-workspace.target

[Service]
ExecStart=/usr/bin/i3
Slice=session.slice
Restart=on-failure
